[submodule "examples/affordance_templates_ros_indigo/src/affordance_templates"]
	path = examples/affordance_templates_ros_indigo/src/affordance_templates
	url = https://bitbucket.org/traclabs/affordance_templates.git
[submodule "examples/affordance_templates_ros_indigo/src/nasa_r2_common"]
	path = examples/affordance_templates_ros_indigo/src/nasa_r2_common
	url = https://bitbucket.org/traclabs/nasa_r2_common.git
[submodule "examples/affordance_templates_ros_indigo/src/nasa_r2_simulator"]
	path = examples/affordance_templates_ros_indigo/src/nasa_r2_simulator
	url = https://bitbucket.org/traclabs/nasa_r2_simulator.git
[submodule "examples/affordance_templates_ros_indigo/src/robot_interaction_tools"]
	path = examples/affordance_templates_ros_indigo/src/robot_interaction_tools
	url = https://bitbucket.org/traclabs/robot_interaction_tools.git
[submodule "examples/docker-realtime"]
	path = examples/docker-realtime
	url = https://github.com/2b-t/docker-realtime
[submodule "examples/realsense-ros2-docker"]
	path = examples/realsense-ros2-docker
	url = https://github.com/2b-t/realsense-ros2-docker
[submodule "examples/velodyne-ros2-docker"]
	path = examples/velodyne-ros2-docker
	url = https://github.com/2b-t/velodyne-ros2-docker
